<ion-header>
  <ion-navbar color="primary" >
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Category Detail</ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="saveCategory()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button tappable (click)="deleteCategory()">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item>
      <ion-label floating>Category Name</ion-label>
      <ion-input
          type="text" [(ngModel)]="category.category"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Count</ion-label>
      <ion-input
          type="text" [(ngModel)]="category.product_count"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Parent Category</ion-label>
      <ion-select [(ngModel)]="category.parent_id">
        <ion-option *ngFor="let cat of allCategories" [value]="cat.category_id">{{cat.category}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="category.status">
        <ion-option value="A">Active</ion-option>
        <ion-option value="H">Hidden</ion-option>
        <ion-option value="D">Deleted</ion-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
