<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="addCategory()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-buttons end>
      <button ion-button tabblable (click)="openSortSelect()" class="option-inline-btn">
        <ion-icon name="md-swap"></ion-icon>
      </button>
    </ion-buttons>
    <ion-select [(ngModel)]="sortBy" (ionChange)="onSortChange()" class="hidden-select" #sortSelect>
      <ion-option value="N">Name</ion-option>
      <ion-option value="C">Product Count</ion-option>
      <ion-option value="S">Status</ion-option>
    </ion-select>

    <ion-list *ngFor="let category of categories">
      <ion-item (click)="openCategory(category)" style="border-bottom: 1px solid #d8d8d8;">
        <h2>{{category.category}}</h2>
        <span><p>{{category.parent_category? category.parent_category + ', ' : ''}}{{category.product_count}} products, {{getStatus(category.status)}}</p></span>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
