<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{ pages[selectedTab].title }}</ion-title>
  </ion-navbar>

</ion-header> -->

<!-- <ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Order Detail Page</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Order Detail Page</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <super-tabs tabsPlacement="top" toolbarBackground="secondary" toolbarColor="light" indicatorColor="light"
    (tabSelect)="onTabSelect($event)" scrollTabs="true">
    <super-tab *ngFor="let page of pages" [root]="page.pageName" [title]="page.title" [id]="page.id"></super-tab>
  </super-tabs> -->
  <ion-content padding>
    <ion-card *ngFor="let productInfo of productsInfo">
      <ion-row no-padding>
        <ion-col col-4>
          <img [src]="productInfo.imagePath" class="img-align-middle"/>
        </ion-col>
        <ion-col col-8>
          <ion-card-content>
            <ion-card-title>
              <h2><b>{{ productInfo.productName }}</b></h2>
            </ion-card-title>
              <ion-row>
                <ion-col col-4>Product Code:</ion-col>
                <ion-col col-8>{{ productInfo.productCode }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>Price:</ion-col>
                <ion-col col-8>MMK {{ productInfo.productPrice }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>Amount:</ion-col>
                <ion-col col-8>{{ productInfo.amount }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>Subtotal:</ion-col>
                <ion-col col-8>MMK {{ productInfo.productPrice * productInfo.amount }}</ion-col>
              </ion-row>
              <!-- <ion-row style="margin-top: 10px;">
                <h2><b>Description</b></h2>
              </ion-row>
              <ion-row style="margin-top: 5px;">
                This is the authentic product of Gucci.
              </ion-row> -->
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
