<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="margin-top: -16px;">
    <!-- <form> -->
      <ion-item>
        <ion-label floating>Product Name</ion-label>
        <ion-input
            type="text" [(ngModel)]="product.product"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Product Code</ion-label>
        <ion-input
            type="text" [(ngModel)]="product.product_code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input
            type="text" [(ngModel)]="product.price"></ion-input>
      </ion-item>

      <div style="padding-left: 16px; padding-top: 16px;">
        <button ion-button (click)="saveProduct()">Save</button>
        <button ion-button color="danger" (delete)="deleteProduct()">Delete</button>
      </div>
    <!-- </form> -->
  </div>
</ion-content>
