<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="addProduct()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Products<br> -->

  <!-- <h3>Products table</h3> -->
  <div>
    <!-- <ngx-datatable
     [headerHeight]="50"
     [footerHeight]="50"
     [rowHeight]="50"
     [rows]="rows"
     [columnMode]="'force'"
     [scrollbarH]="true"
     [limit]="10">
             <ngx-datatable-column *ngFor="let col of columns" name="col.name" [width]="col.width" [cellClass]="col.cellClass"
             [resizeable]="true">
                <ng-template let-column="column" ngx-datatable-header-template >
                  {{col.name}}
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                  <div>
                    {{row[col.key]}}
                  </div>
                </ng-template>
             </ngx-datatable-column>
    </ngx-datatable> -->

    <ion-list *ngFor="let product of products">
      <ion-item (click)="openProduct(product)" style="border-bottom: 1px solid #d8d8d8;">
        <ion-avatar item-left>
          <img *ngIf="product.main_pair" [src]="product.main_pair.detailed.image_path">
        </ion-avatar>
        <h2>{{product.product}}</h2>
        <p>{{product.product_code}}, {{product.price}}</p>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
</ion-content>
